.formc{
    margin: 0px 20%;
}
form {
    width: 50%;
    margin: 0 auto;

    .fdiv, .sdiv{
        padding: 10px;
    }
    button {
        border: none;
        background-color: #cdcdcd;
        margin: 2%;
        cursor: pointer;
    }



}

section div{
    // width: 50%;
    margin: 0 auto;
    width: 500px;
    height: fit-content;
    border: 1px solid black;
    background-color: #DDD;
    margin: 1% 0;
}

textarea {
    margin: 15px 0%;
    width: 498px;
    height: 134px;}
.gobtn{
    border: none;
    background-color: #cdcdcd;
    margin: 0 68%;
    cursor: pointer;
    width: 48px;
    height: 20px;
}