html {
    margin: 0;
}
h1 {
    background-color: #363636;
    text-align: center;
    line-height: 100%;
    height: 100%;
    padding: 2%;
    margin: 0 0;
    color: white;
}

.secHeader {
    background-color: #471010;
    text-align: center;
    line-height: 100%;
    height: 100%;
    padding: 2%;
    margin: 0 0;
    color: white;
    
    a{
        margin: -7px 50px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        float: left;
    }
}